<table class="center" style="width:100%" id="t03">

<tr>
<td><a [routerLink]="['/ppolicy']" class="button fancy-button">Privacy Policy</a>
<a [routerLink]="['/tandc']" class="button fancy-button">Terms and Conditions</a></td>
</tr>
<!--
<tr>
<td><a href="https://twitter.com/EswatiniProp"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/twitter.png" height="32" width="32"></a>
<a href="https://www.facebook.com/EswatiniPropertyReview/"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/facebook.png" height="32" width="32"></a>
<a href="https://www.youtube.com/channel/UCa2IAo3HbSkD5G25ZQ01csQ/videos?disable_polymer=1"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/Youtube.jpeg" height="32" width="32"></a><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/insta2.png" height="32" width="32"></a></td>
</tr>-->

</table>