<p>

  Makanyoga Trading Enterprise cc. offers general construction, electrical, supply services and transport in this discipline structural, civil, mechanical, electrical, office accessories supply including furniture transport service, gardening, electrical maintenance. Our services structures are for public, local authorities and private companies. The firm undertakes work either as the principal contractor as a member of consortium or a subcontractor. 
OUR MISSION:

Is to be a customer focused one stop tailored general business provider.

OUR VISION:
Is to become one of the premier contractor services firm in South Africa in terms of size, profitability and reputation for excellence!

CUSTOMER COMMITMENT:
To provide end to end contract service to valued customers by developing relationships based on mutual trust!
</p>