<h1>STRUCTURAL</h1>

<p>Reinforced and prestressed concrete
Commercial and industrial buildings
Masonry
Bridges
Water retaining structures
Painting
Plumbing
Roofing
Waterproofing</p>



<h1>CIVIL</h1>

<p>Sewerage disposal
Sewerage treatment
Municipal engineering
Water reticulation
Water treatment
Roads and stormwater</p>

<h1>MECHANICAL</h1>

<p>Steam generation system
Heating, ventilation, air condition system and refrigeration system
Pipe services
Fire protection and security warning systems
Smoke detection
Dust and fume extraction
Hydraulic and pneumatic systems
Conveying equipment
General mechanical engineering design</p>

<h1>ELECTRICAL</h1>

<p>Building electrical services
Power generation, transmission and distribution
Electronic systems
Telecommunications
Instrumentation and control system
Prepaid meter inspection
Electrical reticulation installation
Post connection
High voltage line construction
Line construction
Miner retics
Line maintenance
Bush clearing</p>

<h1>OTHER SERVICE</h1>

<p>Office furniture
Transport
Pets control
Catering
Gardening</p>