<p>
STRUCTURAL

Reinforced and prestressed concrete
Commercial and industrial buildings
Masonry
Bridges
Water retaining structures
Painting
Plumbing
Roofing
Waterproofing

OTHER SERVICE

Office furniture
Transport
Pets control
Catering
Gardening

CIVIL

Sewerage disposal
Sewerage treatment
Municipal engineering
Water reticulation
Water treatment
Roads and stormwater

MECHANICAL

Steam generation system
Heating, ventilation, air condition system and refrigeration system
Pipe services
Fire protection and security warning systems
Smoke detection
Dust and fume extraction
Hydraulic and pneumatic systems
Conveying equipment
General mechanical engineering design

ELECTRICAL

Building electrical services
Power generation, transmission and distribution
Electronic systems
Telecommunications
Instrumentation and control system
Prepaid meter inspection
Electrical reticulation installation
Post connection
High voltage line construction
Line construction
Miner retics
Line maintenance
Bush clearing


</p>