Recent Projects


Project Recently Contracted and Completed By Makanyoga Trading Enterprise 


<p>
Project Name 

Description 

Client 

Value 

Hlogotlou Stadium 

building, plumbing, carpentry & electrical installation 

Afri Invra Group

Tel: 013-282 8426

Contact person:

Henry Dumas 

R 250 000.00 

Grain Transportation 

transportation 

CJ Simbevi

Tel: 011-889 9334 

 

Mhluzi Disaster  

building houses 

Tsepa Consulting

Tel: 011-704 4574

Herbet Dube  

R 750 000.00 

Mpumalanga Dept of Education

Masibekele High School 

 Administration Block

Tsepa Consulting

Tel: 011-704 4574

Herbet Dube   

R 850 000.00 

National Dept Works

Toitskraal 

Reservoir 

Tel: 013-753 6300

Absalom Thela 

R 1,500 000.00 
</p>